/* Custom CSS for the site to make it "just so". */

/* Colour all links a shade of green */
a {
    color: #00bb00;
}

/* Colour all the link-based buttons green too. */
a.btn {
    background: #00bb00;
}

/* Improve the look of inline (inside paragraphs) code. */
p code {
    font-weight: bold;
    color: #00bb00 !important;
    background: inherit !important;
    border: unset !important;
}

/* davep.css ends here */
