/* Custom CSS for the site to make it "just so". */

/* Colour all links a shade of green */
a {
    color: #00bb00;
}

/* Colour all the link-based buttons green too. */
a.btn {
    background: #00bb00;
}
.tag-cloud a {
    background: #00bb00;
}

/* Improve the look of inline code in some situations. */
p code, a > code {
    font-weight: bold;
    color: #00bb00 !important;
    background: inherit !important;
    border: unset !important;
}

a:hover > code {
    color: inherit !important;
}

/* Improve the menu. */
main > nav > a {
    font-weight: bold;
    font-size: large;
}

/* davep.css ends here */
