---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d %H:%M:%S %Z" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.content }}
      </li>
    {% endfor %}
  </ul>

  <p class="page-nav">
      {% if paginator.previous_page %}
          <a class="page-prev" href="{{paginator.previous_page_path}}" title="Previous">&laquo; Previous</a>
      {% endif %}
      {% if paginator.next_page %}
          <a class="page-next" href="{{paginator.next_page_path}}" title="Next page">Next &raquo;</a>
      {% endif %}
  </p>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
