body {
  background: #000000;
  color: #ffffff;
  font-family: sans-serif;
  background-image: url('davep.jpg');
  background-repeat: no-repeat;
}

header {  
  font-size: 320%;
  margin-left: 354px;
}

nav {  
  font-size: 150%;
  margin-left: 354px;
}

nav ul {
  list-style-type: none;
}

nav li:before {
  content: "...";
}

a, a:visited {
  color: inherit;
  background: inherit;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}
