.page-nav {

    font-weight: bold;

    .page-prev {
        float: left;
    }

    .page-next {
        float: right;
    }
}

.rss-subscribe {
    clear: both;
}

.post-nav {

    a {
        font-weight: bold;
    }

    .post-prev {
        float: left;
    }

    .post-next {
        float: right;
    }
}

.post-tags {
    span.post-tag:not(:last-child)::after {
        content: ","
    }
}

p img {
    margin: 0 auto;
    display: block;
}

code {
    background: white;
}

table {
    border: 1px solid #B0B0B0;
    margin-bottom: 1em;
}

td, th {
    padding: 0.5em;
    border: 1px solid #B0B0B0;
    text-align: center;
}

ul {
    margin-bottom: 1em !important;
}
